<div class="container">

    <!-- Page Heading -->
    <div class="row shadow-box shadow-box-accent" id="about-box">
        <div class="col-md-6">
            <img class="img img-responsive" src="../resources/me.jpg" alt="It's me!">
        </div>
        <div class="col-md-6">
            <h1>Hey, I'm Michael.</h1>
            <p class="box-subtitles">I am a freelance, full-stack web developer. I currently split my time between Los Angeles and Seattle, where I grew up. Last year I wrapped up a Full-Stack Development Intensive through V School in Provo, UT, and in the near future I plan to pursue my Masters in Software Engineering through Harvard Extension School. I get really excited about working with new technologies and expanding my knowledge base.
            <br><br>
            In addition to my passion for new technology, I have an obsessive relationship with music. I am a singer/songwriter actively involved in a number of varied projects. My other interests include fashion, motorcycles, BMWs and other luxury cars, and good beer.
            <br><br>
            I'd love to talk with you about your project and how we could work together to make something awesome. I'm particularly interested in working with clients in the creative/artistic fields, but I also really enjoy new challenges big and small! <a href="#contact">Contact me</a> today, and let's see what we can make happen together.</p>
        </div>
    </div>
    <!-- /.row -->
    <!-- Project One -->
    </div>
