<div class="container">

    <!-- Page Heading -->
    <div class="row shadow-box shadow-box-accent">
        <div class="col-md-6">
            <img class=" img img-responsive" src="../resources/me.jpg" alt="">
        </div>
        <div class="col-md-6">
            <h1>Hey, I'm Michael.</h1>
            <h4 class="box-subtitles">I was born and raised in North Seattle, WA. I moved to Los Angeles, CA at 18, where I completed my BA in theology at Life Pacific College. I've recently wrapped up a Full-Stack Development Intensive through V School in Provo, UT, and in the near future I plan to pursue my Masters in Software Engineering through Harvard Extension School. I really like to learn stuff.

In addition to my passion for new technology, I have an obsessive relationship with music. I am a singer/songwriter actively involved in a number of varied projects. My other interests include fashion, motorcycles, BMWs and other luxury cars, and good beer (IPAs primarily, though I've been known to put back a 40 or two in my time).

My idea situation would be one in which I can work with location flexibility, so that I can split my time between LA, Seattle, and wherever the adventure leads. I love people, I love new experiences, I'm generally just pretty pumped on life.</h4>
        </div>
    </div>
    <!-- /.row -->
    <!-- Project One -->
    </div>
