<div class="col-sm-offset-2 col-sm-8 shadow-box shadow-box-accent">
    <h1>Let's talk.</h1>

    <h4>You can get in contact with me via any of the following platforms:</h4>
    <ul>
        <li><a href="tel:9093747295">Cell: 909-374-7295</a></li>
        <li><a href="mailto:dmichaelglenn@gmail.com">Email</a></li>
        <li><a href="https://linkedin.com/in/dmichaelglenn">LinkedIn</a></li>
        <li><a href="https://github.com/dmichaelglenn">Github</a></li>
        <li><a href="https://instagram.com/dmichaelglenn">Instagram</a></li>
    </ul>
</div>
